body{
    margin: 0px;
    font-family: Verdana, sans-serif;
}


.container {
    background-image: url("img/Layer 6.png");
    background-size: cover;
    margin : 0px;
    width: 1366px;
    margin-left: auto;
    margin-right: auto;


}

.tour-details{
    width: 312px;
    height: 63px;
    display: flex;
    justify-content: space-between;
    background-color:  #f26522;
    position: absolute;
    top: 139px;
   /* left: -3px;*/
    transition: 1s ease;
    opacity: 0;


}

li:hover .tour-details{
    opacity: 1;
}

li:hover .tours-name{
    color:  #f26522;
}


.tour-details-p{
    color: white;
    font-size: 10px;
    font-weight: 400;
    text-align: left;
    margin-left: 21px;
    margin-top: 16px;

}

.tour-details-price{
    color:  #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;

}
.tour-details-view{

    color:  #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    margin-top: 35px;
    margin-right: 5px;
}




.header {
    width: 1066px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 45px;
    display: flex;
    justify-content: space-between;
    padding-top: 49px;
}

.logo-text-big {
    color:  #ffffff;
    font-size: 29px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
}

.logo-text{
    color:  #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    display: inline-block;

}


.contacts{
text-align: right;
}

.contacts-text{
    color: white;
}

.content{
    width: 1078px;
    margin-left: auto;
    margin-right: auto;


}

.tours{
    list-style: none;

}

.tours li{
    display: inline-block;
    margin-right: 65px;
    width: 312px;
    text-align: center;
    margin-bottom: 73px;
    position: relative;
    box-sizing: border-box;
 /*   border: 3px solid  transparent;
*/

}

.tours-image{
    margin-bottom: 20px;
    border: 3px solid white;
    border-image-source: linear-gradient(white, rgba(0, 0, 0, 0));
    border-image-slice: 1;

}

.img{
    border: 3px solid white;
    border-image-source: linear-gradient(white, rgba(0, 0, 0, 0));
    border-image-slice: 1;
}

.tours .margin-right-none{
    margin-right: 0px;
}

.tours-name{
    color: white;
    text-decoration: none;
    font-family: Verdana, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    margin-top: 23px;
    margin-bottom: 55px;
}

.copyright {
    color:  #ffffff;
    font-size: 10px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;

}

p {
    margin: 0;
}
ul {
    padding-left: 0;
}
li {
    margin: 0;
    padding: 0;
}