*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


.header {
     background-image: url("img/bg1.jpg");
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     padding: 530px 0 145px 0 ;

 }


.container-header{
    width:1280px;
    margin: 0 auto;
}

.header-title{
    color:  #ffffff;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
}

.header-p{
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
}

.header-h1{
    color:  #ffffff;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid  #ffffff;
    background-color:  rgba(0, 0, 0, 0.3);
    width: 831px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.header-h1-white{
    background-color: #fff;
    color:  #f1ad1d;
    font-size: 54px;
    font-weight: 700;
    padding: 49px 34px 42px 29px;
    display: inline-block;

}

.text-1{
    padding: 112px 0 137px;

}

.container-text{
    width:1280px;
    margin: 0 auto;
    text-align: center;
}

.cont-2{
    text-transform: uppercase;
    color: #000;
    margin-bottom: 35px;
}

.cont-2-p{
    color:  #4d4943;
    font-size: 17px;
    font-weight: 400;
    
}

.buffer-line {
    background-color:  #f1ad1d;
    width: 60px;
    height: 3px;
    margin: 44px auto 0;
    border: none;
}

.main-1{
    background-image: url("img/bg2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 174px 0 121px;
}

.main-hr{
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 35px;
}

.text-2{
    padding: 112px 0 137px;
}


.main-2{
    background-image: url("img/bg3.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 174px 0 121px;
}

.logo-line{
    list-style: none;
    text-align: center;
    margin: 58px auto 0px auto;
    display: flex;
    justify-content: center;
}

.logo-img{
    margin-right: 50px;
    line-height: 56px;
}
.yellow{
    color: #f1ad1d;
    text-decoration: none;
}



.main-3{
    background-image: url("img/bg4.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 174px 0 121px;
}

.text-3{
    padding: 112px 0 137px;
}

.cont-3-p{
    color: #FFF;
    margin: 50px auto;
}

.buffer-line-white{
    background-color:  #fff;
    width: 281px;
    height: 3px;
    margin: 44px auto 0;
    border: none;
}

.text-4{
    padding: 112px 0 137px;
}

