* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, sans-serif;
}
.logo{
    width: 1280px;
    margin: 0 auto;
    padding: 75px 0 45px 0;
   }
.logo >a{
    text-decoration: none;

}

.first{
    color: #000;
    font-size: 36px;
}
.second{
    color: rgb(75, 202, 255);
    font-size: 36px;
    margin-left: -3px;
}

.container{
    width: 1280px;
    margin: 0 auto;
    background-color:  #35444f;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header{
    width: 100%;

}

.container-item{
    color: white;
    cursor: pointer;
    text-decoration: none;
    padding:  22px 75px;
    font-size: 18px;

}

.container-item:hover{
    background-color: rgb(34, 47, 58);
}


.wrapper{
    width: 1280px;
    margin: 0 auto;
    padding-top: 51px;
    display: flex;
}

.wrapper-left{
    width: 344px;
    height: 399px;
    border: 1px solid rgb(129, 129, 129);
    margin-right: 53px;
}

.menu{
    list-style: none;
}

.menu-item{
    padding: 27px 115px 33px 45px;
    color: rgb(129, 129, 129);
    font-size: 18px;
}
.menu-item:hover{
    background-color: rgb(220, 220, 220);
    padding-left: 70px;
    color: #000;
}

.right-canvas{
    width: 885px;
/*    height: 529px;
    border: 1px solid rgb(129, 129, 129);*/
    margin: 0 auto;

 /*   text-align: center;*/

}

.img-canvas{
    display: block;
    margin: 0  auto;
    margin-bottom: 50px;
    padding: 73px 268px 75px 297px;
    border: 1px solid rgb(129, 129, 129)
}

.text-canvas{
    width: 816px;
    height: auto;
    margin: 0 auto 255px;

}
/*.text-canvas > p{
    display: block;
}*/
.columns{
    margin-bottom: 51px ;
}


.footer{
    width: 1280px;
    margin: 0 auto 55px;
    background-color:#dcdcdc;
    display: flex;
   justify-content: space-between ;
    align-items: center;
    padding: 22px 75px;
}

.footer-item{
    color: #000;
    cursor: pointer;
    text-decoration: none;
    /*padding:  22px 75px;*/
    font-size: 26px;
    font-weight: 400;
    text-align: left;
    margin-right: 25px;
}

.footer-copyright-item{
    color: #000;
    text-decoration: none;
    font-size: 26px;
    font-weight: 400;
    text-align: right;
   /* margin-right: 25px;*/
}
.footer-copyright{

}

.footer-item:hover {
    text-decoration:  #3181a6;
    text-decoration: underline;
    color: #3181a6 ;

}