body {
    margin: 0;
    background-image: url('../sprites/rana-sawalha-364253-unsplash.png');
    background-size: cover;
}

.header {
    height: 54px;
    margin-bottom: 57px;
    background-color:  rgba(0, 0, 0, 0.41);
    box-sizing: border-box;
    padding-left: 81px;
    padding-right: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    margin: 0px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 17px;
    font-family: Verdana;
}

.header-logo:hover {
    color:  #3cb878;
}

.container-menu {
    display: flex;
    flex-direction: row;
}

.header-menu_list-icons {
    list-style-type: none;
    width: 173px;
    box-sizing: border-box;
    padding: 0 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    margin-right: 24px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);

}

.header-menu_text {
    color:  #ffffff;
    font-size: 14px;
}

.header-menu_list-icons-elem {
    display: block;
    width: 19px;
    height: 19px;
    background-color: white;
}
.wrap-form {
    width: 444px;
    margin: 0 auto;
    background: white;
    border-radius: 10px;
    position: relative;
    padding-top: 29px;
    padding-bottom: 33px;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    margin-bottom: 73px;
}

.wrap-form_block-green {
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    position: absolute;
    top: 29px;
    left: 0px;
}

.socialNetwork {
    width: 322px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}

.socialNetwork-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 23px;
}

.socialNetwork-info_sign {
    display: inline-block;
    font-family: Verdana;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}

.socialNetwork-info_log {
    font-family: Verdana;
    color:  #3cb878;
    font-size: 14px;
    box-sizing: border-box;
}



.socialNetwork_socialLink {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.socialNetwork_socialLink_facebook {
    border-radius: 3px;
    background-color:  #305db8;
    width: 157px;
    height: 46px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding-left: 20px;
}

.socialNetwork_socialLink_facebook-icon {
    width: 10px;
    height: 20px;
    background-color: white;
    position: relative;
}
.socialNetwork_socialLink_facebook-text {
    margin-left: 32px;
    color: white;
    font-size: 16px;
}

.socialNetwork_socialLink_facebook-icon:after {
    content: "";
    display: block;
    width: 1px;
    height: 28px;
    background-color:  #000000;
    opacity: 0.1;
    position: absolute;
    left: 27px;
    top: -5px;
}

.socialNetwork_socialLink_google {
    border-radius: 3px;
    background-color:  #df4a32;
    width: 157px;
    height: 46px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding-left: 20px;
}

.socialNetwork_socialLink_google-icon {
    width: 25px;
    height: 16px;
    background-color: white;
    position: relative;
}

.socialNetwork_socialLink_google-icon:after {
    content: "";
    display: block;
    width: 1px;
    height: 28px;
    background-color:  #000000;
    opacity: 0.1;
    position: absolute;
    left: 34px;
    top: -5px;
}

.socialNetwork_socialLink_google-text {
    color: white;
    margin: 34px;
}

.socialNetwork-lineOr {
    margin-top: 25px;
    margin-bottom: 26px;
}

.socialNetwork-lineOr_or {
    font-family: Verdana;
    color:  #848484;
    font-size: 14px;
    font-weight: 400;
    width: 15px;
    margin: 0 auto;
    position: relative;

}

.socialNetwork-lineOr_or:before {
    content: '';
    width: 133px;
    height: 1px;
    background-color: #eaeaea;
    display: block;
    position: absolute;
    left: -152px;
    top: 50%;


}

.socialNetwork-lineOr_or:after {
    content: '';
    width: 133px;
    height: 1px;
    background-color: #eaeaea;
    display: block;
    position: absolute;
    left: 35px;
    top: 50%;


}




.form {
    width: 322px;
    margin: 0 auto;
}

.form input:not(.form_confirmPassword) {
    margin-bottom: 6px;
}

.form_container-checkbox {
    height: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 21px;
    margin-bottom: 28px;
}

input[type="checkbox" ] {
    margin: 7px 10px 0 0;
}

.form_container-checkbox-text {
    color:  #434343;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.form input:not([type="checkbox"]) {
    width: 322px;
    height: 46px;
    border-radius: 3px;
    background-color:  #ffffff;
    box-sizing: border-box;
    padding: 19px 17px;
    border: 1px solid #bebebe;

}

.form input::-webkit-input-placeholder {
    color:  #bebebe;
    font-size: 14px;
    font-weight: 400;
    font-family: Verdana;
}

.form input::-moz-placeholder {
    color: #be041f;
    font-size: 14px;
    font-weight: 400;
    font-family: Verdana;
}

.form input:hover {
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
    color: darkred;
}

.form input:hover::-webkit-input-placeholder {
    color: black;
}




.text--green {
    color:  #3cb878;
}

.text--green:hover {
    border-bottom: 1px solid #3cb878;
}







.form_submit {
    display: flex;
    justify-content: center;
    border-radius: 3px;
    background-color:  #3cb878;
    width: 322px;
    height: 46px;
    font-family: Verdana;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    border: 0px;
    box-sizing: border-box;

}

.form_submit:hover {
    background-color: #329a65;
}

.text {
    font-family: "Myriad Pro";
    font-size: 40px;
}


@font-face {
    font-family: "Verdana";
    src: url("./fonts/Verdana.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Myriad Pro";
    src: url("fonts/MyriadPro/MyriadPro-Regular.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}