body {
    background-image: url("img/backgroud1.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin : 0px;
    display: flex;
    align-items: center;
    min-height: 100%;

}
* {
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
header{
    background-color:rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    width: 100%;

}

.container {
    display: flex;
    width: auto;
    justify-content: space-between;
    margin: 0 auto;
}

.left-col{
    padding-left: 81px;
    line-height: 44px;
}

.a {
    text-decoration: none;
}
.header-h2{

    color: white;
    text-transform: uppercase;
}

.header-h2:hover{
    color:  #3cb878;
}



/*.icon{
    margin-right: 20px;

}*/

.contacts img{
    width: 20px;
    height: 20px;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 100px; /* Should be removed. Only for demonstration */
}

.welcome{
    color: white;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    padding-top: 15px;
    border-left: 1px solid #ffff;
    padding-left: 25px;

}

.white{
    color: white;
    font-size: 14px;
    font-weight: 400;
    width: 15px

}
.form{

    width: 444px;
    position: relative;
    background-color: white;
    margin: 66px auto 0;
    align-items: center;
    display:flex;
    flex-direction: column;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    border-radius: 10px;
    margin-top: 66px;

}


.form input:not([type="checkbox"]) {
    width:322px;
    height:46px;
    background-color: white;
    border-radius: 3px;
    margin-bottom: 9px;
    box-sizing: border-box;
    padding: 19px 17px;
    border: 1px solid #aeaeae;
}



.form input::-webkit-input-placeholder {
    color:  #bebebe;
    font-size: 14px;
    font-weight: 400;
}

.form input:active::-webkit-input-placeholder {
    color: #434343;
}

.form input:hover {
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
    color: #434343;
}

.block-green {
    width: 18px;
    height: 18px;
    background-color:  #3cb878;
    position: absolute;
    top: 29px;
    left: 0px;
}

.socbtn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 322px;
}

.socnet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 23px;
    margin-top: 29px;
    width: 322px;
}
.socnet-sign{
    display: flex;
    flex-direction: row;
    margin: 0px;
    color: #000;

}

.socnet-or{
    margin-bottom: 26px;
    margin-top: 25px;
}

.socnet-log{
    color: #3cb878;
}

.socnet-line{
    margin-top: 25px;
    margin-bottom: 26px;
}

.socnet-line-or{
    font-family: Verdana;
    color: #848484;
    font-size: 14px;
    font-weight: 400;
    width: 15px;
    margin: 0 auto;
    position: relative;
}

.socnet-line-or:before{
    content: '';
    width: 133px;
    height: 1px;
    background-color: #eaeaea;
    display: block;
    position: absolute;
    left: -152px;
    top:50%;
}

.socnet-line-or:after{
    content: '';
    width: 133px;
    height: 1px;
    background-color: #eaeaea;
    display: block;
    position: absolute;
    left: 35px;
    top:50%;
}

.fb{
    border-radius: 3px;
    background-color:  #305db8;
    width: 157px;
    height: 46px;
    border: 0px;
    text-align: center;
    font-size: 16px;
    color: white;
    line-height: 46px;
    text-decoration: none;

}

.fb img{
    width: 10px;
    height: 20px;
}


.g{
    border-radius: 3px;
    background-color: #df4a32;
    width: 157px;
    height: 46px;
    border: 0px;
    text-align: center;
    font-size: 16px;
    color: white;
    text-decoration: none;
    line-height: 46px;


}

.g img{
    width: 25px;
    height: 16px;
    line-height: 46px;
}

.form-cont-chbox{
    margin-top: 13px;
    margin-bottom: 28px;
    width: 322px;
}

.checkbox{
    display: none;
}

.checkbox-custom {

    border-radius: 3px;
    border-width: 1px;
    border-color:  #dfdddd;
    border-style: solid;
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
    margin-right: 10px;
    display: inline-block;
}

.checkbox:checked + .checkbox-custom::before {
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    right: 2px;
    bottom: 2px;
    left: -2px;

    background-image: url(img/spritesheet.png);
    border-radius: 2px;
}

.checkbox_check{
 color: #3cb878;
}

.checkbox_check:hover {
    border-bottom: 1px solid #3cb878 ;

}
.checkbox_text{

}
.submit{
    width: 322px;
    height: 46px;
    border: 0px;
    text-align: center;
    font-size: 16px;
    color: white;
    border-radius: 3px;
    background-color:  #3cb878;
    margin-bottom: 32px;

}

.submit:hover {
    background-color: #329a65;
}

.loginBtn {
    box-sizing: border-box;
    position: relative;
    margin: 0.2em;
    padding: 0 15px 0 56px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
    width: 157px;
    height: 46px;
}
.loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 7px;
    left: 5px;
    width: 44px;
    height: 32px;
}
.loginBtn:focus {
    outline: none;
}
.loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);

}

.butt:hover{
    cursor: pointer;
}

/* Facebook */
.loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);

    text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: #DD4B39;
}
.loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
    background: #E74B37;
}

.icon_size{
   margin-top: 10px;
    display: inline-block;
}

.right-col{
padding-right: 75px;

}

.sprite {
    background-image: url(img/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 25px;
}

.sprite-Logo {
    width: 169px;
    height: 31px;
    background-position: -5px -5px;
}

.sprite-ic_caledar {
    width: 19px;
    height: 19px;
    background-position: -29px -5px;
}

.sprite-ic_caledar:hover {
    background-position: -5px -34px;
}

.sprite-ic_caledar_g {
    width: 19px;
    height: 19px;
    background-position: -5px -34px;
}

.sprite-ic_forum {
    width: 28px;
    height: 20px;
    background-position: -34px -34px;

}

.sprite-ic_forum:hover {
    background-position: -72px -5px;
}


.sprite-ic_journey {
    width: 20px;
    height: 20px;
    background-position: -72px -35px
}

.sprite-ic_journey:hover {
    background-position: -5px -65px;
}

.sprite-checkbox {
    width: 14px;
    height: 11px;
    background-position: -5px -5px;
}


sprite sprite-ic_caledar:hover {
    background-color: #3cb878;
    color: #3cb878;
}

